<%= form_for @paint, url: paint_path(@paint.id) do |f| %>
  Name: <%= f.text_field :name %><br />
  <%= f.select :category_id  , Category.all.collect {|p| [ p.name, p.id ]}, :prompt => 'Choose a Category'%> <br>
  Description: <%= f.text_area :description, size: "60x12" %><br />
   Price: <%= f.text_field :price %><br />
  <%= f.submit "Create" %>  |
  <%= link_to "Delete", paint_path(@paint.id), method: :delete %><br /></p>
<% end %>