<h4><p align="left"><% if user_signed_in? %>
  <%= link_to "Back", root_path %> |
 <%= link_to "Add new picture", new_paint_path%> |
  <% if current_user.userparam.nil? %>
     <%= link_to "Profile", new_userparam_path %></br>
  <% else %>
   <%= link_to "Profile", userparam_path(current_user.id) %>
  <% end %>
 </p>
<p align="right">


	<%= link_to "Logout",  destroy_user_session_path, method: :delete %>
<% else %>
   <%= link_to "Login", new_user_session_path %>
<% end %>
</p></h4>