<!DOCTYPE html>
<html>
  <head>
    <title>Masterpiece</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "layouts/header" %>
  <hr>
  <% if user_signed_in? %>
  
  <% end %>
    <%= yield %>
     <hr> 
     <%= render "layouts/footer" %>
  </body>
</html>
